$calypso:                         #286782;

$btn-color--primary:                 $calypso; 
$btn-text-color--primary:            #ffffff;

$sans-serif:                        'Open Sans', Helvetica, Arial, sans-serif; 
$font-weight--light:                300;
$font-weight--normal:               400;
$font-weight--semibold:             600;
$font-weight--bold:                 700; 