$calypso:                         #286782;

$btn-color--primary:                 $calypso; 
$btn-text-color--primary:            #ffffff;

$sans-serif:                        'Open Sans', Helvetica, Arial, sans-serif; 
$font-weight--light:                300;
$font-weight--normal:               400;
$font-weight--semibold:             600;
$font-weight--bold:                 700; 


$h1-like:                           2.441em;
$h2-like:                           1.953em;
$h3-like:                           1.563em;
$h4-like:                           1.25em;
$base-size:                              1em;
$small-like:                        0.8em;