a {
    color: #4B8EBD;
}

a,
h1,
h2,
h3,
p {
    font-family: sans-serif;
}

.archive-list {
    list-style-type: none;
    padding-left: 0;
}

.archive-list>li {
    font-size: 14px;
    margin-top: 14px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 95%;
}

.btn {
    background: rgba(91, 20, 93, .9);
    ;
    color: #ffffff;
    display: inline-block;
    font-family: sans-serif;
    margin-bottom: 5px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;
    width: 100%;
}

.btn:hover {
    background: rgb(91, 20, 93);
}

footer {
    background: #eee;
}

.footer-links {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-links__item {
    display: block;
    float: left;
    list-style-type: none;
}

.footer-links__item:last-child .footer-links__link {
    margin-right: 0;
}

.footer-links__link {
    color: #4B8EBD;
    display: inline-block;
    font-family: sans-serif;
    margin: 15px 45px 15px 0;
    text-decoration: none;
}

.footer-links__link:hover {
    font-weight: bold;
}

.img--phone {
    display: none;
}

.logo {
    margin: 0;
    margin-top: 5px;
}

.list {
    color: #333;
    font-family: sans-serif;
    margin: 0;
    padding-left: 20px;
}

.list__item {
    font-size: .9rem;
    line-height: 1.5;
}

.list__title {
    color: #333;
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: .5em;
}

.list-wrapper {
    margin-top: 30px;
}

.mobile-info {
    background: #C1D7C5;
    margin-top: 30px;
    padding: 15px;
    position: relative;
    width: calc(100% - 30px);
}

.mobile-info__text {
    line-height: 1.45;
    margin: 0;
}

.mobile-info__title {
    color: #5B145D;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 15px;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.nav-links {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-links__item {
    display: block;
    float: left;
    list-style-type: none;
}

.nav-links__link {
    background: #4B8EBD;
    color: #ffffff;
    display: inline-block;
    font-family: sans-serif;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.nav-links__link:hover {
    background: #296895;
}

.news-list {
    list-style-type: none;
    padding-left: 0;
}

.news-list__item__title {
    font-size: 16px;
}

.page-title {
    color: #5B145D;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 30px;
}

.rates {
    margin-top: 70px;
    margin-bottom: 70px;
}

.tab-widget__content {
    background-color: #f6f6f6;
    border-top: 1px solid #eee;
    padding: 10px;
    width: calc(100% - 20px);
}

.tablist {
    font-family: sans-serif;
}

.tablist__tab {
    border: 1px solid #eee;
    border-bottom: none;
    background-color: rgba(193, 215, 197, .7);
    color: #4B8EBD;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.tablist__tab--active {
    background-color: #f6f6f6;
    color: gray;
    padding: 15px;
}

.table-data {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-data__col {
    padding: 15px 15px;
}

.table-data__row:nth-child(odd) {
    background-color: rgba(193, 215, 197, .2)
}

.table-data__row:nth-child(even) {
    background-color: rgba(193, 215, 197, .7);
}

.table-data__row--white {
    background-color: #ffffff;
}

.table-data__th {
    color: gray;
    font-size: 13px;
    font-weight: lighter;
    padding: 10px;
}

/* Helper Classes */

.bg--blue {
    background: #4B8EBD;
    overflow: hidden;
    width: 100%;
}

.col-75 {
    width: 100%;
}

.col-25 {
    width: 100%;
}

.font-weight--light {
    font-weight: 300;
}

.font-weight--regular {
    font-weight: 400;
}

.text-align--right {
    text-align: right;
}

.link {
    text-decoration: none;
}

.text {
    font-size: 14px;
}

@media (min-width: 768px) {
    .col-75 {
        width: calc(75% - 25px);
        float: left;
        margin-right: 25px;
    }
    .col-25 {
        width: 25%;
        float: left;
    }
    .copy {
        float: left;
    }
    .footer-links {
        float: right;
    }
    .img--phone {
        display: block;
        float: left;
        position: absolute;
        bottom: 17%;
        right: 4%;
    }
    .logo {
        float: left;
    }
    .mobile-info__text {
        width: 85%;
    }
    .nav-links {
        float: right;
    }
    .nav-links__link {
        padding: 15px 30px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}